ion-header {
  ion-toolbar {
    --background: #da030b;
    font-family: cursive;
    color: white;
    font-size: 2rem !important;
  }
  ion-icon {
    padding: 2px;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  ion-title {
    text-align: center;
    font-size: 22px !important;
  }
  ion-chip {
    --color: #da030b;
    background-color: white;
    border: 1px solid white;
    margin-right: 30px;
    font-size: 1rem !important;
  }
  ion-toolbar.searchSection {
    padding-bottom: 10px;
    ion-icon {
      border: 1px solid rgba($color: white, $alpha: 0.5);
      border-radius: 20px;
      padding: 5px;
      margin-right: 20px;
      margin-left: 0;
    }
    ion-searchbar {
      margin-left: 10px;
      margin-right: 0;
      --border-radius: 15px;
      --placeholder-font-style: cursive;
    }
  }
}

ion-content {
  --background: #da030b;
  .contentWrapper {
    background: #fff;
    padding: 20px;
    border-radius: 30px 30px 0px 0px;
  }
  ion-segment {
    --background: #feeaeb;
    border-radius: 10px;
    padding: 5px;
    ion-segment-button {
      font-family: cursive;
      font-weight: bolder;
      --color: #ac030a;
      --color-checked: #ffffff;
      --indicator-color: transparent !important;
      --background-checked: #ac030a;
      --border-radius: 10px;
    }
  }
  .chats {
    margin-top: 15px;
    ion-item::part(native) {
      padding: 0px;
    }
    ion-item {
      margin-bottom: 15px;
      ion-avatar {
        width: 100% !important;
        height: 100% !important;
        max-width: 51px;
      }
      ion-label {
        h2 {
          font-size: 1rem;
          font-weight: bolder;
        }
        p {
          margin-top: 6px;
          font-size: 0.8rem;
          opacity: 0.5;
          font-weight: bold;
        }
      }
      .info-div {
        position: absolute;
        right: 0;
        font-size: 0.8rem;
        font-weight: bolder;
      }
    }
  }
}
